@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

#titulo {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#img {
    margin-bottom: 50px;
    border-radius: 20px;
}

#html {
    
    border-radius: 50px;
}

#htmlImg {
    border-radius: 150px;
}

#img1{
    width: 100%;
}

